package {{$.name}}

type CreateRequest struct {

}

type UpdateRequest struct {
	UUID string `json:"uuid" param:"path,uuid"`
	Body CreateRequest `json:"body" param:"body,body"`
}

type DeleteRequest struct {
	UUID string `json:"uuid" param:"path,uuid"`
}

type ListRequest struct {
	Page int `json:"page" param:"query,page"`
	PageSize int `json:"pageSize" param:"query,pageSize"`
	Order string `json:"order" param:"query,order"`
	Query listQuery `json:"query" param:",query"`
}

type listQuery struct {

}

type GetRequest struct {
	UID string `json:"uuid" param:"path,uuid"`
}

type GetResponse struct {

}

type FilterRequest struct {
	Key   string `json:"key" param:"query,key"`
	Value string `json:"value" param:"query,value"`
	Query filterQuery `json:"query" param:",query"`
}

var DbNameMap = map[string]string{
	"": "",
}

type filterQuery struct {
}

type FilterResponse struct {
}

type UpdateBatchRequest struct {
	Body []UpdateRequest `json:"body" param:"body,body"`
}