{{/* gotype: github.com/fitan/gowrap/generator.TemplateInputs */}}
{{$.Import
`"github.com/opentracing/opentracing-go"`
`"github.com/opentracing/opentracing-go/ext"`
`"time"`
}}

type tracing struct {
	next   Service
	tracer opentracing.Tracer
}

{{range $m := $.Interface.Methods}}
func (s *tracing) {{$m.Declaration}} {
	span, ctx := opentracing.StartSpanFromContextWithTracer(ctx, s.tracer, "{{$m.Name}}", opentracing.Tag{
		Key:   string(ext.Component),
		Value: "{{$.Vars.instance}}",
	})
	defer func() {
		span.LogKV(
			{{range $v := $m.ParamsExcludeCtx}}"{{$v.Name}}",{{$v.Name}},{{end}}
			{{if $m.ReturnsError}}
			"err",err,
			{{end}}
		)
		{{if $m.ReturnsError}}
		span.SetTag(string(ext.Error), err != nil)
		{{end}}
		span.Finish()
	}()

	{{if $m.HasResults}}
	return s.next.{{$m.Call}}
	{{else}}
	s.next.{{$m.Call}}
	{{end}}
}
{{end}}


func NewTracing(otTracer opentracing.Tracer) Middleware {
	return func(next Service) Service {
		return &tracing{
			next:   next,
			tracer: otTracer,
		}
	}
}