{{/* gotype: github.com/fitan/gowrap/generator.TemplateInputs */}}
package {{.Interface.Name}}

import "go.uber.org/zap"


type Middleware func({{upFirst .Interface.Name}}Service) {{upFirst .Interface.Name}}Service

func NewServiceMiddleware(logger *zap.SugaredLogger) (mw []Middleware) {
	mw = []Middleware{}
	// Append your middleware here
	mw = append(mw, func({{upFirst .Interface.Name}}Service {{upFirst .Interface.Name}}Service) {{upFirst .Interface.Name}}Service {
		return New{{upFirst .Interface.Name}}ServiceWithPrometheus({{upFirst .Interface.Name}}Service)
	})
	mw = append(mw, func({{upFirst .Interface.Name}}Service {{upFirst .Interface.Name}}Service) {{upFirst .Interface.Name}}Service {
		return New{{upFirst .Interface.Name}}ServiceWithLog({{upFirst .Interface.Name}}Service, logger)
	})
	mw = append(mw, func({{upFirst .Interface.Name}}Service {{upFirst .Interface.Name}}Service) {{upFirst .Interface.Name}}Service {
		return New{{upFirst .Interface.Name}}ServiceWithTracing({{upFirst .Interface.Name}}Service)
	})
	return
}

// New returns a {{upFirst .Interface.Name}}Service with all of the expected middleware wired in.
func NewService(svc BaseService, middleware []Middleware) {{upFirst .Interface.Name}}Service {

	for _, m := range middleware {
		svc = m(svc)
	}
	return svc
}


func NewEndpointMiddleware(logger *zap.SugaredLogger, ep []endpoint.Middleware) Mws {
	mws := make(Mws)
	// Add you endpoint middleware here
	otelkitEMW := func(n string) endpoint.Middleware {
		return otelkit.EndpointMiddleware(otelkit.WithOperation(n))
	}
	//logEMW := func(n string) endpoint.Middleware {
	//	return mid.LoggingMiddleware(logger)
	//}
	instrumentingEMW := func(n string) endpoint.Middleware {
		return mid.InstrumentingMiddleware(prometheus.NewSummaryFrom(stdprometheus.SummaryOpts{
			Namespace: "user_endpoint",
			Subsystem: n,
			Name:      "request_duration_seconds",
			Help:      "Total time spent serving requests.",
		}, []string{"success"}))
	}
	AddEndpointMiddlewareToAllMethodsWithMethodName(mws, otelkitEMW)
	//AddEndpointMiddlewareToAllMethodsWithMethodName(mw, logEMW)
	AddEndpointMiddlewareToAllMethodsWithMethodName(mws, instrumentingEMW)
	for _, e := range ep {
		AddEndpointMiddlewareToAllMethods(mws, e)
	}

	return mws
}

func NewServiceOption(op []http.ServerOption) Ops {
	ops := make(Ops)
	for _, o := range op {
		AddHttpOptionToAllMethods(ops, o)
	}
	return ops
}