//go:build wireinject
// +build wireinjec

{{/* gotype: github.com/fitan/gowrap/generator.TemplateInputs */}}
package {{.Interface.Name}}

import "github.com/google/wire"

{{if (eq .Vars.initType "kit")}}
var {{upFirst .Interface.Name}}KitSet = wire.NewSet(NewBasicService, NewService, NewEndpointMiddleware, NewServiceMiddleware, NewEndpoints, NewServiceOption, NewHTTPHandler)
{{end}}
{{if (eq .Vars.initType "service" )}}
var {{upFirst .Interface.Name}}ServiceSet = wire.NewSet(NewBasicService, NewService, NewServiceMiddleware)
{{end}}